body
{
    background-color: whitesmoke;
}
.calcBody
{
    margin: 10%;
}
.calcBody .main-calculator
{
    width: 100%;
    max-width: 400px;
    padding:0px;
}
.calcBody .main-calculator .screen
{
    padding: 10px 60px;
    height:40px;
    background-color: #0b0f10;
}
.calcBody .main-calculator .screen input
{
    width: 100%;
    height: 100px;
    border-radius: 4px;
    height: 62px;
    border: none;
    background-color: rgb(1, 0, 0);
    font-size: 34px;
    letter-spacing: 2px;
    text-align: end;
}
.calcBody .main-calculator .buttons
{
    padding: 30px;
    background-color: #070a0c;
    
}
.calcBody .main-calculator .buttons div
{
    display: flex;
    justify-content: center;
}
.calcBody .main-calculator .buttons div>div button
{
    width: 58px;
    height: 58px;
    color: white;
    background-color:rgba(60, 60, 60, 0.7);
    border: none;
    font-weight: 600;
    margin: 7px;
    font-size: 18px;
    border-radius: 50%;
}
.calcBody .main-calculator .buttons div>div button:hover, .calcBody .main-calculator .buttons div>div button:active, .calcBody .main-calculator .buttons div>div button:focus
{
    background-color: #87b17fb2;
}
.calcBody .main-calculator .buttons div>div button.btn_right
{
    background-color: rgba(255, 166, 0, 0.8);
}
.calcBody .main-calculator .buttons div>div button.btn_right:hover
{
    background-color: #87b17fb2;
}
.calcBody .main-calculator .buttons div>div button.btn_top
{
    background-color: rgba(220, 220, 220, 0.5);
}
.calcBody .main-calculator .buttons div>div button.btn_top:hover
{
    background-color: #87b17fb2;
}
.calcBody .main-calculator .buttons div>div button#zerobtn
{
    width:130px;
    border-radius: 25px 25px 25px 25px;
}